@import '../../styles/mixins';
@import '../../styles/variables.scss';

.container {
  .container1 {
    margin-top: 1.3rem;
    @include flex-row(center, center);
    max-width: 100%;
    .btn2 {
      @include flex-row(center, center);
      gap: 1rem;
    }
    .btnAssign {
      width: 5rem;
      height: 2rem;
      padding: 0.5rem;
      color: $white;
      background-color: $green;
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;
      font-weight: 600;
      font-size: 1.02rem;
    }
    .btnEdit {
      width: 5rem;
      height: 2rem;
      padding: 0.5rem;
      color: $white;
      background-color: $primary;
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;
      font-weight: 600;
      font-size: 1.02rem;
    }
    .btnDelete {
      width: 5rem;
      height: 2rem;
      padding: 0.5rem;
      color: $white;
      background-color: $lightred;
      border: none;
      border-radius: 0.5rem;
      cursor: pointer;
      font-weight: 600;
      font-size: 1.02rem;
    }

    table {
      border-collapse: collapse;
      width: 100%;
      margin: 0 3rem;
    }
    .tableHead {
      background-color: $lightblue;
    }

    table td,
    table th {
      border: 1px solid $palewhite;
      padding: 0.3rem;
      font-size: 1.5rem;
      width: 25%;
      max-width: 12.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    table th {
      font-size: 1.4rem;
    }
    table tr:nth-child(even) {
      background-color: $palebluewhite;
    }

    table tr:hover {
      background-color: $palewhite;
    }
    table td {
      text-align: center;
      font-size: 1.3rem;
      font-weight: 500;
    }
    .noMore {
      @include flex-row(center, center);
      font-size: 2rem;
      font-weight: 700;
    }
  }
}
