@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&family=Heebo:wght@400;500;600&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: medium;
  font-family: "Poppins", "Heebo", "Roboto", sans-serif;
}
body {
  overflow: hidden;
}
.logo {
  position: absolute;
  right: 800px;
  top: 40px;
}

.logo img {
  border: #1b2477 solid;
  position: relative;
  left: -800px;
  top: 15px;
}
section {
  display: flex;
  justify-content: center; /* vertically center */
  align-items: center; /* horizontallly center */
  min-height: 100vh;
  padding: 20px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-image: url(./images/background.jpg);
  /* background: linear-gradient(to right top,#149ff0,#ca22a0,#aa10da); */
  /* background: linear-gradient(to bottom, #3f3c4b,#000); #9883f0,#5915c7);
  #149ff0,#5915c7,#be2aeb);*/
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container {
  position: relative;
  z-index: 1000;
  width: 100%;
  max-width: 1000px;
  padding: 50px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  backdrop-filter: blur(2px);
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  pointer-events: none;
  transform: skewX(-55deg);
}

.container .row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.container .row100 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 20px;
}
.container .row100 .col .inputBox input[type="date"] {
  position: relative;
  width: 100%;
  height: 40px;
  color: #fff;
  font-size: 18px;
}
.container .row100 .col .inputBox {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 40px;
  color: #fff;
}

.container .row100 .col .inputBox input,

.container .row100 .col .inputBox textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 0 10px;
  z-index: 1;
  color: #fff;
  resize: none;

  
}
.container .row100 .col .inputBox .text {
  position: absolute;
  top: 0;
  left: 0;

  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  
}
.container .row100 .col .inputBox input:focus + .text,
.container .row100 .col .inputBox input:valid + .text,
.container .row100 .col .inputBox textarea:focus + .text,
.container .row100 .col .inputBox textarea:valid + .text {
  top: -35px;
  left: -10px;
}
.container .row100 .col .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 12px;
  background: #203030;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}
.container .row100 .col .inputBox input:focus ~ .line,
.container .row100 .col .inputBox input:valid ~ .line {
  height: 100%;
}

.container .row100 .col .inputBox.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}

.container .row100 .col .inputBox textarea:focus ~ .line,
.container .row100 .col .inputBox textarea:valid ~ .line {
  height: 100%;
}
.container .row100 .col input[type="submit"] {
  text-transform: uppercase;
  border: none;
  padding: 10px 40px;
  cursor: pointer;
  outline: none;
  background: #fff;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  border-radius: 2px;
}

table {
  width: 945px;
  height: fit-content;
  border-collapse: collapse;
  color: #f6faf8;
}
th {
  border: 2px solid #707070;
  color:rgb(208, 245, 43);
  font-style: "Heebo";
  font-weight: 500;
  font-size: larger;
  /* color: #bea61b; */
}
td {
  text-align: center;
  
  border: 2px solid #6f6f72;
}

@media (max-width: 450px) {
  .container .row100 {
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
  .container h2 {
    font-size: 30px;
  }
}

::-webkit-calendar-picker-indicator {
  background-color: #fff;
  cursor: pointer;
  font-size: 18px;
}

.logo input[type="submit"] {
  text-transform: uppercase;
  border: none;
  padding: 10px 40px;
  cursor: pointer;
  outline: none;
  background: #fff;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  border-radius: 2px;
  position: relative;
  top: 50px;
  left: 1500px;
}

.error {
  border-color: rgb(206, 67, 67);
  
}
.success {
  border-color: #0cc477;
}

.errormsg {
  color: #6cefff;
  font-size: 16px;
  padding: 2px;
  margin-top: 0px;
  top: 38px;
  position: relative;
  
}

.edit {
  background-color: #eb8b1e;
  width: 60px;
  font-size: medium;
  border-radius: 20px;
  padding: 2px;
  margin: 3px;
}
.delete {
  background-color: crimson;
  width: 60px;
  font-size: medium;
  border-radius: 20px;
  padding: 2px;
}

.customBtn {
  width: 80px;
  position: absolute;
  right: -679px;
  height: 60px;
  border-radius: 35px 5px;
  box-shadow: none;
  border: #1b2477 solid;
  top: 775px;
  background-color: #fff;
}
.customBtn:hover{
  width: 82px;
  height: 64px;
  border-radius: 35px 10px;
  box-shadow: none;  
  border: #5767f7 solid;
  background-color: #fff;
  font-weight: 600;

}
.logoutBtn {
  width: 80px;
  position: relative;
  right: -680px;
  height: 60px;
  border-radius: 35px 5px ;
  box-shadow: none;
  border: #1b2477 solid;
  top: -45px;
  background-color: #fff;
}
.logoutBtn:hover {
  width: 82px;
  height: 65px;
  border-radius: 35px 5px;
  box-shadow:inset;
  border: #fa1717 solid;
  background-color: #fff;
  font-weight: 600;
}

.inputBox input:-webkit-autofill,
.inputBox input:-webkit-autofill:hover,
.inputBox input:-webkit-autofill:focus,
.inputBox input:-webkit-autofill:active{
  -webkit-border-before-color: #203030;
  -webkit-text-fill-color: #31b0dd;
  background-color: #000; 
 
}

a {
color:rgb(184, 136, 136);
font-size: 17px;

}

a:hover{
  color: #fff8f8;
  font-size: 18px;
}
.center-tag{
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 36px;
  margin-bottom: 20px;
}
.center-tag-a{
  
  text-align: center;
  color: #fff;
  font-size: 17px;
  margin-bottom: 20px;
}

