@import './variables.scss';
@import './mixins';
@import '../styles/fonts';

.input_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  font-family: $Inter;

  .label_text {
    color: $black;
    font-size: $xl;

  }

  .input_box {
    font-size: $m;
    min-width: 15rem;
    max-width: 15rem;
    min-height: 2.8rem;
    max-height: 3rem;
    box-shadow: 0 0 0 .1rem $lightblue;
    border-radius: .5rem;
    padding: 1rem;
    outline: none;

    &:focus,
    &:hover {
      border: 0.12rem solid $primary;
    }
  }

  ::-webkit-calendar-picker-indicator {
    background-image: url(../assets/vector/FaRegCalendarAlt.png);
    background-position: center;
    background-size: 1.3rem;
    background-repeat: no-repeat;
  }
}