//colors:
$primary: #0b60b0;
$lightblue: #74a2cc;
$white: #fff;
$black: #000;
$light: rgba(11, 96, 176, 0.17);
$darkgrey: #666;
$lightgrey: #808080;
$green: #108476;
$lightred: rgb(255, 71, 71);
$backgroundColor: rgb(238, 255, 255);
$palewhite: #ddd; //tablerow
$palebluewhite: #f7f6fe; //treven
