@import '../../../styles/variables.scss';
@import '../../../styles/mixins';

.assetCard {
  line-height: 1.4rem;
  height: 15rem;
  @include flex-row-direction(column);
  margin: 3rem;
  padding: 1.4rem;
  padding-top: 0.5rem;
  background-color: $palebluewhite;
  border-radius: 2rem;
  font-weight: 400;
  border: 0.2rem solid $black;
  .header {
    display: flex;
    padding-top: 1rem;
    font-size: 2rem;
    width: 24rem;
    .title {
      @include flex-row-gap(1.5rem);
      .desktopIcon {
        width: 2.5rem;
        font-size: xx-large;
      }
    }
    .check{
      height:1rem;
      width: 2rem;
      margin-left: 4rem;
      align-self: baseline;
    }
    .editIcon{
      padding-left:2.5rem;
      font-size: xx-large;
      width: 5rem;
    }
  }

  .assetCardBody { 
    padding-top: 2rem;
    line-height: 1.7rem;
    font-size: 1.3rem;
    p{
    @include ellipse(16rem);
    }
  }
}
